attrs==24.2.0
beautifulsoup4==4.12.3
cattrs==24.1.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.10
itsdangerous==2.2.0
lxml==5.3.0
platformdirs==4.3.6
requests==2.32.3
requests-cache==1.0.0
setuptools==75.1.0
six==1.16.0
soupsieve==2.6
tqdm==4.66.5
url-normalize==1.4.3
urllib3==2.2.3
wheel==0.44.0
